@import url('https://fonts.googleapis.com/css2?family=Recursive:wght@300;400;600;700;900&display=swap');
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

a, a:visited {
    color: inherit;
    text-decoration: none;
}

input, button, textarea, select {
    border: 0;
    padding: 0;
    outline: none;
}

body, input, textarea, select, input::placeholder {
    font-family: 'Recursive', sans-serif;
}

nav {
    width: 100%;
    height: 50px;
    background-color: #04131f;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
}

nav a {
    color: #FFF !important;
    text-decoration: none;
    padding: 0 15px;
}

main {
    width: 1000px;
    margin: 0 auto;
    position: relative;
}

input, select {
    height: 40px;
    padding: 0 12px;
    border: 1px solid rgba(0, 0, 0, 0.15);
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.05);
    border-radius: 4px;
    width: 100%;
    background-color: #FFF;
}

button {
    height: 40px;
    background-color: #066dde;
    border-radius: 4px;
    padding: 0 12px;
    font-weight: 600;
    color: #FFF;
    width: 100%;
    margin-bottom: 15px;
    cursor: pointer;
    transition: opacity 0.3s;
}

button:hover {
    opacity: 0.8;
}

.title {
    font-width: 600;
    font-size: 18px;
    margin-bottom: 15px;
}

label {
    display: flex;
    width: 100%;
    margin: 15px 0;
    white-space: nowrap;
    align-items: center;
}

.based-card {
    display: grid;
    grid-auto-flow: column;
    gap: 10px;
    width: 100%;
    margin-bottom: 15px;
}

.based-card .card {
    flex: 1;
    height: 100px;
    background-color: #066DDE;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
    color: #FFF;
    font-weight: 700;
    font-size: 30px;
    flex-direction: column;
}

.card span {
    font-size: 14px;
    font-weight: 300;
}

.based-list li {
    display: flex;
    height: 50px;
    width: 100%;
    border: 1px solid rgba(0, 0, 0, 0.15);
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.05);
    border-radius: 4px;
    margin-bottom: 15px;
    align-items: center;
    padding: 0 15px;
}

li .event {
    flex: 1;
    display: flex;
    justify-content: flex-end;
    font-width: 300;
    font-size: 13px;
    align-items: center;
}

.event .badge {
    padding: 4px 8px;
    font-size: 10px;
    background-color: #FFC107;
    border: 1px solid rgba(0, 0, 0, 0.15);
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.05);
    color: #FFF;
    border-radius: 4px;
    margin-left: 8px;
}

.event .badge.green {
    background-color: #4caf50;
}

.event .badge.red {
    background-color: #F44336;
}

.alert {
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid rgba(0, 0, 0, 0.15);
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.05);
}

.alert.success {
    background-color: #4caf50;
    color: #FFFFFF;
}

main#login {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

main#login .alert {
    min-width: 400px;
    padding: 0 15px;
    margin-bottom: 15px;
}